*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 
}
body{background: #171717;}
.upper-div,.lower-div{
  display: flex;
  justify-content: space-evenly;
}
.upper-div{
  width: 80%;
}
.lower-div{
  width : 58%;
}
.child, .child2{
  border-radius: 5px;
  background-color: #e9edf0;
}
.App{
  display: flex;
  flex-direction: column;
  gap : 1.5rem;
  padding : 1rem;
  justify-content: center;
  align-items: center;

}
.heading{
  padding: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: large;
  background: #171717;
   color : white;
 
}
.child{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width : 25%;
}


